#daeodonHealRateGraph, #veggieCakeHealRateGraph {
  position: relative;
  width: 706px; /* Graph width (700px) + borders (2 * 3px) */
  height: 306px; /* Graph height (300px) + borders (2 * 3px) */
}

#daeodonHealOverTimeGraph, #veggieCakeHealOverTimeGraph {
  position: relative;
  width: 706px; /* Graph width (700px) + borders (2 * 3px) */
  height: 328px; /* Input fields height (22px) + graph height (300px) + borders (2 * 3px) */
}

#daeodonHealRateGraphCanvas, #daeodonHealOverTimeGraphCanvas, #veggieCakeHealRateGraphCanvas, #veggieCakeHealOverTimeGraphCanvas {
  background-color: rgb(28, 30, 33);
  border-width: 3px;
  border-style: solid;
  border-color: rgb(61, 85, 94);
  border-radius: 8px;
}

#daeodonHealRateTipCanvas, #daeodonHealOverTimeTipCanvas, #veggieCakeHealRateTipCanvas, #veggieCakeHealOverTimeTipCanvas {
  background-color: rgb(42, 69, 79);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(61, 85, 94);
  position: absolute;
  left: -200px;
  top: 100px;
  border-radius: 6px;
}

.daeodonLineChartInputLabelStyle, .veggieCakeLineChartInputLabelStyle {
  font-size: 0.9em;
  font-family: Inter, Helvetica, Arial, sans-serif;
}

.daeodonLineChartInputStyle, .veggieCakeLineChartInputStyle {
  font-size: 0.9em;
  font-family: Inter, Helvetica, Arial, sans-serif;
}
